# .travis.yml
language: node_js

node_js:
  - '4'
  - '5'
  - '6'
  - '7'

dist: xenial

after_script:
  - npm run-script coveralls

notifications:
  email: false

sudo: required

env:
  - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe ORACLE_SID=XE OCI_LIB_DIR=/u01/app/oracle/product/11.2.0/xe/lib

before_install:
  - wget https://raw.githubusercontent.com/Vincit/travis-oracledb-xe/master/accept_the_license_agreement_for_oracledb_xe_11g_and_install.sh
  - bash ./accept_the_license_agreement_for_oracledb_xe_11g_and_install.sh
  - npm install oracledb
  - docker-compose up -d
