html, body {
  overflow: hidden;
}

.header-bar {
  height: 3.5em;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  background: #373737;
}

.header-bar h1 {
  margin: 0px;
}

.header-bar .content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header-bar .menu-btn {
  font-size: 1em;
  border-radius: 4px;
  border: 2px solid;
  padding-left: 4px;
  float: left;
  margin-left: 0.5em;
  margin-top: 0.6em;
  text-decoration: none;
  padding-right: 4px;
  line-height: 1.0em;
  color: #aaa;
}

.header-bar .text {
  text-decoration: overline underline;
  display: inline-block;
  width: 100%;
  padding-top: 0.5em;
  margin-left:0.5em;
  position: absolute;
  color: #aaa;
}

.divider {
  margin: 8px 0;
  height: 1;
}

.content-area {
  position: absolute;
  top: 3.6em;
  left:0px;
  right: 0px;
  bottom: 0px;
}

.main-content {
  overflow-x: hidden;
  min-height: 100%;
}

/* sidemenu parent */
.content-area div:nth-child(1) div:nth-child(1) {
  background: #f4f4f4;
  color: #5c5c5c;
}

/* I could add custom style also to markdown but this works for now */
.content-area h3 code {
  font-size: 1em;
  background: #5c5c5c;
  color: #eee;
}

.content-area h3 {
  border-top: 3px solid #5c5c5c;
  line-height: 1.5em;
}

.content-area div div .main-content {
  background:white;
  padding-left: 16px;
}

.menu-item {
  margin-bottom: 0.5em;
  line-height: 1.1em;
  font-family: Consolas,"Roboto Mono","Droid Sans Mono","Liberation Mono",Menlo,Courier,monospace;
}

.menu-item .menu-link {
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #373737;
  text-decoration: none;
}

.menu-item:hover .menu-link .code * {
  background: #aaa;
}

.menu-item:hover * {
  background: #aaa;
}

.menu-item.level-3 {
  margin-left: 1em;
}

.side-menu {
  padding: 16px;
}