/** 
 * Custom styles for docs.
 */ 
.navbar .site-name {
  text-decoration: overline underline;
  text-transform: uppercase;
}

.content h3 code {
  font-size: 1em;
  background: #5c5c5c;
  color: #eee;
}
.content h3 {
  border-bottom: 3px solid #5c5c5c;
  line-height: 1.5em;
}

.page .content {
  max-width: 100%;
}

